* {
    font-family: 'Nunito', sans-serif;
    background-color: #79EB63;
    border-radius: 10px;
}

#Legend-Style {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    text-transform: uppercase;
   
}

#Form-Style {
    border-color: black;
    border-style: solid;
}

.Label-Style {
    margin: 30px 10px 20px 30px;
    font-size: 30px;
    display: block;
    font-style: italic;
    font-weight: bolder;
}

.Input-Style {
    font-size: 25px;
    margin: 10px 10px 20px 1px;
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    display: block;
    background-color: rgb(255, 255, 255);
    height: 30px;
    
}

#Input-Checkbox {
   display: block;
    margin: 10px 10px 20px 10px;
    font-size: 30px;
    font-weight: 500;
    
}

#Button-Reset {
    cursor: pointer;
    flex-direction: row;
    font-size: 25px;
    margin: 20px 20px 30px 30px;
    background-color: blanchedalmond;
}

#Button-Reset:hover {
    background-color: #85706D;
    font-size: 30px;
    font-weight: bolder;
    border: solid black;
}

#Button-Submit {
    cursor: pointer;
    flex-direction: row;
    font-size: 25px;
    margin: 20px 20px 30px 1px;
    background-color: blanchedalmond;

}
#Button-Submit:hover {
    background-color: #85706D;
    font-size: 30px;
    font-weight: bolder;
    border: solid black;
}